<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% message = (user.persisted? ? "Update" : "Create user") %>

<form action="<%= action %>" method="post">
    <input
        name="_method"
        type="hidden"
        value="<%= method %>">
    
    <%= auth_token %>

    <p>
        <label for="user_username">Username:</label>
        <input 
            id="user_username"
            name="user[username]"
            type="text"
            value="<%= user.username %>">
    </p>

    <p>
        <label for="user_password">Password:</label>
        <input 
            id="user_password"
            name="user[password]"
            type="password"
            value="<%= user.password %>">
    </p>
    
    <input type="submit" value="<%= message %>"=">

    
</form>