<h1><%= @post.title %> by <%= @post.author.username %></h1>

<h4>Content:</h4>
<p><%= @post.content %></p>

<section>
    <h4>Subs</h4>
    <ul>
        <% @post.subs.each do |sub| %>
            <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
        <% end %>
    </ul>
</section>

<section>
    <h2>Comments</h2>
    
    <a href="<%= new_post_comment_url(@post) %>">Comment on this post!</a>

    <ul>
        <% @post.comments.each do |comment| %>
            <li><a href="#"><%= comment.body %></a></li>
        <% end %>
    </ul>
</section>

<section>
    <a href="<%= edit_post_url(@post) %>">Edit</a>
<section>