<h2 class="page-header"><%= @album.title %></h2>

<h3 class="links-header"> Tracks</h3>

<section class="bands-section">
    <ul class="bands-list">
    <% @tracks.each do |track| %>
        <a href="<%= track_url(track) %>"><li class="band-buttons"><%= track.title %></li></a>
    <% end %>
    </ul>
</section>

<h3 class="links-header">Links</h3>

<section class="links-section">
    <% if current_user.administrator %>
        <a class="button" href="<%= new_album_track_path(@album) %>">New Track</a>

        <a class="button" href="<%= edit_album_url(@album) %>">Edit Album</a>

        <form class="delete-button" action="<%= album_url(@album) %>" method="POST">
            <%= auth_token %>
            <input type="hidden" value="DELETE" name="_method" />
            <input type="submit" value="Destroy Album">
        </form>
    <% end %>

    <a class="button" href="<%= band_url(@album.band) %>">Back to <%= @album.band.name %></a>
</section>