<!DOCTYPE html>
<html>
  <head>
    <title>The Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>

    <main>

      <h1 class="main-logo">Music App</h1>

      <section class="login-section">
      <% if !current_user.nil? %>
        <a class="button" href="<%= bands_url %>">Take me Home</a>
        <div class="login-info">
          <p>Hello, <%= current_user.email %></p>
          <form class="logoff-button" action="<%= session_url %>" method="POST">
            <%= auth_token %>
            <input type="hidden" value="delete" name="_method"/>
            <input type="submit" value="Logout"/>
          </form>
        </div>

      <% end %>
      </section>

    

    <%= yield %>
    </main>
  </body>
</html>
