<p>
    <a href="<%= comment_url(comment) %>"><%= comment.body %></a> <br>
    <%= comment.author.username %> <%= comment.created_at %>
</p>


<ul>
<% all_comments.each do |child_comment| %>
    <% if child_comment.parent_comment_id == comment.id %>
            <li>
                <%= render("comments/comment",
                                comment: child_comment,
                                all_comments: all_comments) %>
            </li>
    <% end %>
<% end %>
</ul>

