<h2 class="page-header"><%= @track.title %></h2>

<p>&#9836 <%= @track.lyrics %></p>

<h3 class="links-header"> New Note</h3>

<%= render "notes/form", track: @track %>

<h3 class="links-header">Notes</h3>

<%= render 'shared/errors' %>

<%= render "notes/note", track: @track, notes: @notes %>  

<h3 class="links-header">Links</h3>

<section class="links-section">
    <% if current_user.administrator %>
        <a class="button" href="<%= edit_track_url(@track) %>">Edit Track</a>

        <form class="delete-button" action="<%= track_url(@track) %>" method="POST">
            <%= auth_token %>
            <input type="hidden" value="DELETE" name="_method" />
            <input type="submit" value="Destroy Track">
        </form>
    <% end %>

    <a class="button" href="<%= album_url(@track.album) %>"><%= @track.album.title %></a>
</section>